.navbar-inverse {
    background-color: #080808;
    border-color: #080808;
}

.container .jumbotron h1  {
    font-family: 'Source Sans Pro', sans-serif;
}

.container .jumbotron h3  {
    font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron {
    color: #ffffff;
    background-color: #65AFE1;
    padding-top: 16px;
    padding-bottom: 24px;
}

.btn-default {
color: #ffffff;
background-color: #65AFE1;
border-color: #cccccc;
}

footer {
    margin-top: 80px;
}