.navbar-inverse {
    background-color: #080808;
    border-color: #080808;
}

.container .jumbotron h1  {
    font-family: 'Source Sans Pro', sans-serif;
}

.container .jumbotron h3  {
    font-family: 'Source Sans Pro', sans-serif;
}